<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../template/head'); %>
</head>

<body class="container">
  <header>
    <%- include('../template/nav'); %>
  </header>

  <main>

    <div class="container-fluid" id="sighting-content">

      <div class="table-responsive">
        <form action="/sighting" method="POST">
          <table class="table">
            <tr>
              <th>Date/ Time</th>
              <th class="d-none d-sm-table-cell">Shape</th>
              <th class="d-none d-sm-table-cell">City</th>
              <th>State</th>
              <th>Duration</th>
            </tr>
            <tr>
              <td>
                <input class="form-control" type="datetime-local" id="date_time" name="date_time" required />
              </td>
              <td>
                <input class="form-control" type="text" id="shape" name="shape" placeholder="Shape seen" required />
              </td>
              <td>
                <input class="form-control" type="text" id="city" name="city" placeholder="City sighted" required />
              </td>
              <td>
                <input class="form-control" type="text" id="state" name="state" pattern="[A-Za-z]{2}"
                  title="Two letter state code" placeholder="Enter a 2 letter state code" required />
              </td>
              <td><input class="form-control" type="text" id="duration" name="duration" placeholder="Sighting duration"
                  required /></td>
            </tr>
            <tr>
              <td colspan="5"><strong>Summary</strong></td>
            </tr>
            <tr>
              <td colspan="5"><input class="form-control col-lg-4" type="text" id="summary" name="summary"
                  placeholder="Enter a one line summary" /></td>
            </tr>
            <tr>
              <td colspan="5"><strong>Full Text</strong></td>
            </tr>
            <tr>
              <td colspan="5"><textarea class="form-control col-lg-4" id="text" name="text" rows=10
                  placeholder="Enter as much details as possible" required></textarea>
              </td>
            </tr>
          </table>
          <input class="btn btn-success btn-block" type="submit" value="Submit New Sighting" />
        </form>
      </div>
  </main>


  <footer>
    <%- include('../template/footer'); %>
  </footer>
</body>

</html>