<html>
  <body>
    <form action="/sightings" method="POST">
      <label for="city">City:</label>
      <input type="text" id="city" name="city" />
      <label for="state">State:</label>
      <input type="text" id="state" name="state" /><br />

      <label for="shape">Shape:</label>
      <input type="text" id="shape" name="shape" />
      <label for="duration">Duration:</label>
      <input type="text" id="duration" name="duration" />
      <label for="date_time">Date/Time:</label>
      <input type="datetime-local" id="date_time" name="date_time" /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>

"city" "state" "text" "date_time" "shape" "duration" "summary"
